:root {
    --bg: #000000;
    --color: #e9d30f;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.wrapper {
    padding: 1.5rem 0;
    filter: url('#goo');
}

.hover-btn {
    display: inline-block;
    text-align: center;
    background: var(--color);
    color: #ffffff;
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
}

.hover-btn:before,
.hover-btn:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background-color: var(--color);
    color: var(--bg);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.hover-btn:before {
    top: -25%;
    left: 20%;
}

.hover-btn:after {
    bottom: -25%;
    right: 20%;
}

.hover-btn:hover:before,
.hover-btn:hover:after {
    transform: none;
}

@media (max-width: 576px) {
    .wrapper {
        margin-bottom: -5rem;
        padding-left: 5%;
    }
}