*, ::after, ::before 
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-content:center;
}

@font-face
{
	src: url(../fonts/OpenSans-Regular.ttf);
	font-family: opensans;
}

body, html
{

	font-family: opensans;
	font-size: 16px;
	word-break: break-word;
	word-wrap: break-word;
	color: #ffffff;
	height: 100vh;

}

html
{
  scroll-behavior: smooth;
}

h1
{
  color: #FFF01F;
}

h2
{
  color: #aa2424;
}

.card 
{
   padding-top: 15px;
   background-color: rgb(0,0,0,0); /* Transparent Magic */
}

.Mform
{

	width: 100%;
	margin: 0px auto;
	background-color: #1B1C25;
	top: 45px;
	text-align: center;
	border-radius: 2%;
	overflow: hidden;
  box-shadow: 0 0 10px #888888, 
              0 0 20px #777777, 
              0 0 30px #666666;
	height: auto;
	
}

.image_container
{

	width: 100%;
	color: rgb(255, 255, 255);
}

.Ximage
{

	width: 100%;
	height: 190px;
	object-fit: cover;
}

.logo
{

	width: 180px;
	height: 180px;
	object-fit: cover;
	left: 668.6px;
	top: 154px;
	border-radius: 50%;
	margin-top: -7em;
	/*border: 8px solid rgb(238, 238, 238);*/
	
}

.hd
{

	padding-left: 10px;
	padding-right: 10px;
	left: -3px;
	margin-bottom: -0.50em;
	color: rgb(231, 190, 76);
    text-align: center;
	letter-spacing: 2px;
}

/***************INPUT HOVERING***************/
form .txt_field
{
	position: relative;
	border-bottom: 2.5px solid #adadad;
	margin: 30px 0;
	width: 385px;
	margin-left: 3.5em;
}

.txt_field input
{
	width: 100%;
	padding: 0 5px;
	height: 40px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
	color: #ffffff;
}

.txt_field label
{
	position: absolute;
	top: 50%;
	left: 5px;
	color: rgb(164, 93, 93);
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
	transition: .5s;
}

.txt_field span::before
{
	content: '';
	position: absolute;
	top: 40px;
	left: 0;
	width: 0%;
	height: 2px;
	background: rgb(231, 190, 76);
	transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label
{
	top: -5px;
	color: #EDD94C;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before
{
	width: 100%;
}
/*************END of INPUT HOVERING**************/

.txt_div
{

	padding: 5px;
	left: -17px;
	margin-top: 0.50em;
	margin-bottom: 1.5em;
	font-size: 14px;
	text-align: center;
	justify-content: center;
}

.txtDiv_button
{

	width: 100%;
	/*padding: 10px;*/
	color: rgb(255, 255, 255);
	text-align: center;
	/*height: 154px;*/
	top: 574px;
	margin-top: -1em
	
}

/**********Hovering Button**************/
.btn_new
{

	font-size: 16px;
	font-weight: 600;
	padding: 10px;
	border: medium none;
	color: #FFFFFF;
	background-color: rgb(13, 110, 253);
	border-radius: 30px;
	margin: 0.25rem 0.125rem;
	margin-top: 1em;
	cursor: pointer;
	width: 400px;
	height: 51.2px;
	transition: all 0.5s;
}

.btn_new span 
{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  text-decoration: none;
}

.btn_new span:after 
{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn_new:hover span 
{
  padding-right: 25px;
}

.btn_new:hover span:after 
{
  opacity: 1;
  right: 0;
}

/*******Link Hovering a*******/
.Signup_ref
{
	text-decoration: none;
	color: rgb(164, 93, 93);
  text-align: center;
	letter-spacing: 2px;
}

.Signup_ref:hover
{
  transition: 0.3s ease-out;
  font-size: 120%;
  overflow: hidden;

  font-weight: bold;
  color: #FFF01F;	
}
/****End of button hoverring****/

/*******************************END of FORM's CSS*****************************/

/*******Merging to Absolute for blurred background image new UI**********/
.container
{
	position: absolute;
	top: 50%;
	left: 50%;
	right: 50%;
	margin-bottom: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 100%;
	max-width: 500px;
	height: 590px;
}
/**************END of Merging**************/